<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="getPinCode()">GET PINCODE</button>
  <div id="balanceLabel"></div>
</ion-content>
